# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/

# OmniSky Data (Keep repo light)
OMNISKY_DATA/
omnisky.db
*.log

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# C# Build Artifacts
**/bin/
**/obj/
dist/

# Node.js
**/node_modules/
ui/dist/

# Test Outputs
OUTPUT/

